<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--BPM服务器段信息-->
        <add key="BPMServer" value="127.0.0.1"/>
        <add key="BPMUid" value="sa"/>
        <add key="BPMPassword" value=""/>
        <add key="ConnectionString" value="Server=(local);Database=BPMDB;User Id=sa;Password=1qaz@WSX" />
        
    </appSettings>
</configuration>